
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="/Styles/Home/images/icon.png" class="brand_logo" alt="Logo">
            </div>
        </div>
        <div class="d-flex justify-content-center form_container">
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" style="border-color: transparent;" class="form-control input_user" value="" placeholder="t.c. kimlik no">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="icon-key"></i></span>
                    </div>
                    <input type="password" style="border-color: transparent;" class="form-control input_pass" value="" placeholder="şifre">
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="button" name="button" class="btn login_btn">Giriş Yap</button>
        </div>
        <div class="mt-4">
            <div class="d-flex justify-content-center links" style="color: black;">
                Hesabınız yok mu? <a href="register.html" style="color: #4267B2;" class="ml-2">Kayıt Olun</a>
            </div>
        </div>
    </div>
</div>