@model SOAProject.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="/Styles/Home/images/icon.png" class="brand_logo" alt="Logo">
            </div>
        </div>
        <div class="d-flex justify-content-center form_container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="input-group mb-3">
                @Html.ValidationSummary(true, "",new{@class = "text-danger" })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                @Html.TextBoxFor(model => model.TCNo,new {@class = "form-control input_user",style = "border-color: transparent",placeholder ="TC Kimlik No" })
                
            </div>
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-key"></i></span>
                </div>
                @Html.TextBoxFor(model => model.Password,new { @class = "form-control input_pass",placeholder = "Şifre", style = "border-color: transparent"})
                
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <button type="submit" name="button" class="btn login_btn">Giriş Yap</button>
            </div>
            }

        </div>
        
        <div class="mt-4">
            <div class="d-flex justify-content-center links" style="color: black;">
                Hesabınız yok mu? <a href="Register" style="color: #4267B2;" class="ml-2">Kayıt Olun</a>
            </div>
        </div>
    </div>
</div>