
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<div class="site-blocks-cover inner-page" style="background-image: url('/Styles/Home/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">
                    <h1>HAKKIMIZDA</h1>
                    <p>Sizleri eczaneye gitme derdinden kurtararak, ilaçlarınızın ayaklarınıza gelmesini hedefleyen bir kuruluşuz!</p>ˀ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="/Styles/Home/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Nasıl Başladık</h2>
                </div>
                <p>Hastalarımızın durumunu ve gündelik yoğunluklarını göz önünde bulundururak 'onları bir nebze de olsa nasıl rahatlarız?' diye düşündük.</p>
                <p>Ve onları eczaneye gitme zahmetinden kurtarabileceğimizi farkettik!</p>

            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="/Styles/Home/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">

                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Ne Durumdayız</h2>
                </div>
                <p class="text-black">Sizi bu zahmetten kurtarmamıza yardımcı olacak Türkiye geneli 13.538 eczane ile işbirliği halindeyiz!</p>
                <p class="text-black">Bu eczanelerden elbette size yakın olanı vardır değil mi? </p>

            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-user-md text-primary"></span>
                </div>
                <div class="text">
                    <h2>Zahmetsiz Sistem</h2>
                    <p>Doktorunuza ilaçlarım evime gelsin demeniz yeterli!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-primary"></span>
                </div>
                <div class="text">
                    <h2>Ücretsiz Kargo</h2>
                    <p>İlaçlarınız ayağınıza ekstra hiçbir ücret ödemeden gelir!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-smile-o text-primary"></span>
                </div>
                <div class="text">
                    <h2>Kısa Sürede Teslim</h2>
                    <p>İlaçlarınızı size en yakın eczane, en kısa sürede getirir!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Takım</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-5">

                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/Styles/Home/images/enes.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">M. Enes Oral</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/Styles/Home/images/ismail.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">M. İsmail Bakır</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/Styles/Home/images/mustafa.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Mustafa Yiğit</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/Styles/Home/images/oguzhan.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Oğuzhan Kaymak</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/toastrconfig.js"></script>