
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<h2>Collapsed Sidebar</h2>
<p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
<button id="desc"> - </button>
<input type="number" min="1" max="10" id="acount" value="1">
<button id="incr"> + </button>

