
@{
    ViewBag.Title = "Reçete Yaz";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
    
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div id="main">

    @using (Html.BeginForm("WriteRecipe", "Doctor", FormMethod.Post))
    {

        <div class="input-group mb-3">
            <input type="text" name="txtTcNo" class="form-control col-5" placeholder="TC NO (Yeni Kimlikler İçin Kimlik NO)" required>
            <div class="input-group-append">
                <a class="btn btn-success" id="btnCreateRecipe">Reçete Oluştur</a>
            </div>
        </div>
        <div id="tableDiv" style="display:none">
            <table class="table  table-light">
                <thead class="table-dark">

                    @*<th class="thClass" scope="col">TC</th>*@
                <th class="thClass" scope="col">İlaç</th>
                <th class="thClass" scope="col">Tür</th>
                <th class="thClass" scope="col">Kullanım</th>
                <th class="thClass" scope="col"></th>

                </thead>
                <tbody class="tbody">
                    <tr>
                        @*<td> <input id="customInput" class="form-control" type="text" placeholder="TC"> </td>*@
                        <td> <input name="txtMedName1" class="form-control" type="text" style="text-align:center" placeholder="İlaç" required> </td>
                        <td> <input name="txtMedType1" class="form-control" type="text" style="text-align:center" placeholder="Tür" required> </td>
                        <td>
                            <input name="txtMedUsage1" type="text" style="text-align:center" class="form-control" id="usingMed" placeholder="Kullanım" required>
                        </td>

                        <div>
                            <td>
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </td>
                        </div>
                    </tr>
                </tbody>

            </table>
            <input id="counter" name="counter" class="btn-dark" value="1" type="text" style="display: none">
            <button id="btnWriteRecipe" type="submit" class="btn btn-danger float-right">
                Kaydet
            </button>
        </div>
    }

</div>


<script type="text/javascript">
    var i = 1;
    $(document).on("click", "#btnCreateRecipe", function () {
        $("#tableDiv").show();
        $('.fa-plus').on('click', function() {
            i += 1;

            $("#counter")[0].value = i;
        });
    });

</script>
